/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 14px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
}

/* Portrait layout (default) */
.appIndex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
}

.appInicio {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.appRegistro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .appIndex #logo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .appInicio .quest {
        width: 60%;
    }

    .appInicio h3 {
        width: 60%;
    }

    .appInicio #enlaces {
        width: 60%;
    }

    .appInicio #instagramBoton {
        width: 60%;
    }

    .appRegistro .quest {
        width: 60%;
    }

    .appRegistro h2 {
        width: 60%;
    }

    .appRegistro #enlaces {
        width: 60%;
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}

h2 {
    width: 80%;
    font-size: 20px;
    font-weight: normal;
    margin: 3em 0 0 0;
    overflow: visible;
    padding: 0;
    text-align: left;
}

h3 {
    width: 80%;
    font-size: 16px;
    font-weight: normal;
    margin: 3em 0 0 0;
    overflow: visible;
    padding: 0;
    text-align: left;
}

.quest {
    width: 80%;
    border-style: solid;
    border-color: #0011ff;
    background-color: #ffffff;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    margin: 0.5em 0;
}

mensaje{
    display: none;
    width: 100%;
    color: #ff0000;
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 1.5em;
    margin-inline-end: 1.5em;
    box-sizing: content-box;
}

questline {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1.5em;
    margin-inline-end: 1.5em;
    box-sizing: content-box;
}

questline label {
    box-sizing: border-box;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

questline input {
    box-sizing: border-box;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

questline2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1.5em;
    margin-inline-end: 1.5em;
    text-align: right;
}

#enlaces {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
}

#enlaces.Registrar {
    justify-content: flex-end;
}

#instagramBoton {
    width: 80%;
    border-radius: 4px;
    font-size: 20px;
    font-weight: normal;
    color: #113355;
    margin: 0.5em 0px;
    overflow: visible;
    padding: 0.5em 0px 0.5em 1em;
    text-align: left;
    background: url(../img/jarana_logo.png) no-repeat right center;
    background-color: #f75e5e;
}

.event {
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 4px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

#deviceready.ready .event.listening {
    display: none;
}

#deviceready.ready .event.received {
    display: block;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.pulsacion{
    background-color: #0011ff;
}

#instagramBoton.pulsacion{
    background-color: #0011ff;
}

.visible{
    display: block;
}

#end{
    width: 100%;
    height: 2.5em;
    flex-shrink: 0;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}